@media only screen and (min-width: 64em) {
  /* ---------- nav ---------- */

  nav ul li a {
    padding: 8px 16px;
  }

  nav ul.hide {
    width: 960px;
  }

  /* ---------- main ---------- */

  main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  main > h2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    padding: 30px 0px;
  }

  .town-summary {
    flex-flow: column nowrap;
  }

  .town-summary picture{
    flex: 1 1 100%;
    margin: 0px;
    padding: 0px;
  }

  .info{
    flex-direction: column;
  }
  .weather-summary {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    flex: 1 1 100%;
    justify-content: space-around;
  }

  .weather-summary h2 {
      display: none;
  }
  .towns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000x;
    margin: auto;
  }
  .places:nth-child(odd) {
    margin: 1rem auto;
    width: 98%;
  }
  .places:nth-child(even) {
    margin: 1rem auto;
    width: 98%;
  }

  .weather-type {
    font-size: 2.2rem;
  }

  .current {
    margin: 0px;
  }

  .conditions {
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
  }

  .conditions p, .highlow p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 10px 0px 0px 0px;
    width: 230px;
  }

  section.forecast {
    padding: 5px 0px 0px 0px;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 1.375rem;
    padding: 30px 0px;
  }

  section div img{
    width: 80%;
    margin: 0.3rem 10%;
  }

  #tour-grid-box {
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 87%;
  }

    #tour1,
    #tour2,
    #tour3,
    #tour4,
    #tour5,
    #tour6,
    #tour7,
    #tour8,
    #tour9,
    #tour10,
    #tour11,
    #tour12,
    #tour13,
    #tour14,
    #tour15,
    #tour16,
    #tour17,
    #tour18  {
        padding: 0 20px;
    }

    #tours-grid-box img {
        width: 100%;
    }
 /* ---------- gallery ---------- */

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .box-shadow:hover {
    box-shadow: 5px 5px 10px gray;
  }

}
